/**
 * 外边距 
 * 	.m-xxx 
 * 	.m-b/t/l/r-xxx
 * 圆角 
 * 	.b-r-xxx
 * 内边距
 * 	.p-xxx 
 * 	.p-b/t/l/r-xxx
 * 字体大小
 * 	.fs-xxx
 */

@mixin generate-margin() {
	$directions: (
		"": "", 
		b: bottom,
		t: top,
		l: left,
		r: right
	);

	@each $short, $full in $directions {
		@for $i from 0 through 200 {
			@if $short == "" {
				.m-#{$i} {
					margin: #{$i}px !important;
				}
			}
			@else {
				.m-#{$short}-#{$i} {
					margin-#{$full}: #{$i}px !important;
				}
			}
		}
	}
	
	@for $i from 2 through 50 {
		.m-lr-#{$i} { margin-left: 1px * $i; margin-right: 1px * $i; }
	}
	
	@for $i from 2 through 50 {
		.m-tb-#{$i} { margin-top: 1px * $i; margin-bottom: 1px * $i; }
	}
}
@include generate-margin();




@mixin generate-padding() {
	$directions: (
		"": "", 
		b: bottom,
		t: top,
		l: left,
		r: right
	);

	@each $short, $full in $directions {
		@for $i from 0 through 200 {
			@if $short == "" {
				.p-#{$i} {
					padding: #{$i}px !important;
				}
			}
			@else {
				.p-#{$short}-#{$i} {
					padding-#{$full}: #{$i}px !important;
				}
			}
		  
		}
	}
	@for $i from 2 through 50 {
		.p-lr-#{$i} { padding-left: 1px * $i; padding-right: 1px * $i; }
	}
	@for $i from 2 through 50 {
		.p-tb-#{$i} { padding-top: 1px * $i; padding-bottom: 1px * $i; }
	}
}
@include generate-padding();


@mixin generate-border-radius() {
	@for $i from 0 through 120 {
		.b-r-#{$i} {
			border-radius: #{$i}px !important;
		}
	}
}
@include generate-border-radius();

@mixin generate-font-size() {
	@for $i from 0 through 120 {
		.fs-#{$i} {
			font-size: #{$i}px !important;
		}
	}
}
@include generate-font-size();


@mixin generate-font-weight() {
	@for $i from 0 through 10 {
		$weight: $i * 100;
		.fw-#{$weight} {
			font-weight: #{$weight} !important;
		}
	}
}
@include generate-font-weight();

