@mixin generate-margin() {
  $directions: (
    b: bottom,
    t: top,
    l: left,
    r: right
  );

  @each $short, $full in $directions {
    @for $i from 0 through 200 {
      .m-#{$short}-#{$i} {
        margin-#{$full}: #{$i}px !important;
      }
    }
  }
}
@include generate-margin();

@mixin generate-padding() {
  $directions: (
    b: bottom,
    t: top,
    l: left,
    r: right
  );

  @each $short, $full in $directions {
    @for $i from 0 through 200 {
      .p-#{$short}-#{$i} {
        padding-#{$full}: #{$i}px !important;
      }
    }
  }
}
@include generate-padding();
// .m-0{
//   margin: 0 !important;
// }
// .m-l-1{
//   margin-left: 1px !important;
// }
// .m-l-2{
//   margin-left: 2px !important;
// }
// .m-l-5{
//   margin-left: 5px !important;
// }

// .m-l-10{
//   margin-left: 10px !important;
// }

// .m-l-15{
//   margin-left: 15px !important;
// }

// .m-l-20{
//   margin-left: 20px !important;
// }
// .m-l-25{
//   margin-left: 25px !important;
// }

// .m-l-30{
//   margin-left: 30px !important;
// }

// .m-l-50{
//   margin-left: 50px !important;
// }

// .m-r-1{
//   margin-right: 1px !important;
// }
// .m-r-2{
//   margin-right: 2px !important;
// }
// .m-r-5{
//   margin-right: 5px !important;
// }
// .m-r-10{
//   margin-right: 10px !important;
// }
// .m-r-15{
//   margin-right: 15px !important;
// }
// .m-r-20{
//   margin-right: 20px !important;
// }
// .m-r-25{
//   margin-right: 25px !important;
// }
// .m-r-30{
//   margin-right: 30px !important;
// }
// .m-r-40{
//   margin-right: 40px !important;
// }
// .m-r-50{
//   margin-right: 50px !important;
// }

// .m-t-5{
//   margin-top: 5px !important;
// }
// .m-t-10{
//   margin-top: 10px !important;
// }
// .m-t-15{
//   margin-top: 15px !important;
// }
// .m-t-20{
//   margin-top: 20px !important;
// }
// .m-t-25{
//   margin-top: 25px !important;
// }
// .m-t-30{
//   margin-top: 30px !important;
// }
// .m-t-35{
//   margin-top: 35px !important;
// }
// .m-t-40{
//   margin-top: 40px !important;
// }
// .m-t-50{
//   margin-top: 50px !important;
// }
// .m-t-60{
// 	margin-top: 60px !important;
// }
// .m-t-70{
// 	margin-top: 70px !important;
// }
// .m-t-80{
// 	margin-top: 80px !important;
// }
// .m-t-90{
// 	margin-top: 90px !important;
// }
// .m-t-100{
// 	margin-top: 100px !important;
// }
// .m-b-2{
//   margin-bottom: 2px !important;
// }

// .m-b-5{
//   margin-bottom: 5px !important;
// }

// .m-b-10{
//   margin-bottom: 10px !important;
// }

// .m-b-15{
//   margin-bottom: 15px !important;
// }
// .m-b-20{
//   margin-bottom: 20px !important;
// }
// .m-b-25{
//   margin-bottom: 25px !important;
// }

// .m-b-30{
//   margin-bottom: 30px !important;
// }
// .m-b-35{
//   margin-bottom: 35px !important;
// }
// .m-b-40{
//   margin-bottom: 40px !important;
// }
// .m-b-50{
//   margin-bottom: 50px !important;
// }

// .m-10{
//   margin: 10px !important;
// }


// .p-0{
//   padding: 0 !important;
// }

// .p-10{
//   padding: 10px !important;
// }
// .p-15{
// 	padding: 15px !important;
// }
// .p-20{
//   padding: 20px !important;
// }

// .p-30{
//   padding: 30px !important;
// }
// .p-40{
//   padding: 40px !important;
// }
// .p-t-0{
// 	padding-top: 0px !important;
// }
// .p-t-5{
//   padding-top: 5px !important;
// }
// .p-t-10{
//   padding-top: 10px !important;
// }
// .p-t-15{
//   padding-top: 15px !important;
// }
// .p-t-20{
//   padding-top: 20px !important;
// }
// .p-t-25{
//   padding-top: 25px !important;
// }
// .p-t-30{
//   padding-top: 30px !important;
// }
// .p-t-35{
// 	padding-top: 35px !important;
// }

// .p-l-10{
//   padding-left: 10px !important;
// }
// .p-l-15{
//   padding-left: 15px !important;
// }
// .p-l-20{
//   padding-left: 20px !important;
// }
// .p-r-10{
//   padding-right: 10px !important;
// }
// .p-r-15{
//   padding-right: 15px !important;
// }
// .p-r-20{
//   padding-right: 20px !important;
// }

// .p-b-0{
// 	padding-bottom: 0px !important;
// }
// .p-b-5{
// 	padding-bottom: 5px !important;
// }
// .p-b-10{
//   padding-bottom: 10px !important;	
// }
// .p-b-15{
// 	padding-bottom: 15px !important;
// }
// .p-b-20{
//   padding-bottom: 20px !important;
// }

// .p-b-30{
//   padding-bottom: 30px !important;
// }

// .p-b-40{
//   padding-bottom: 40px !important;
// }